<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Карточка на прием успешно создана</title>

    {% load static %}
    <link rel="stylesheet" href="{% static "css/bootstrap-theme.min.css" %}"/>
    <link rel="stylesheet" href="{% static "css/bootstrap-datetimepicker.min.css" %}"/>
    <link rel="stylesheet" href="{% static "css/style.css" %}"/>

    <script src="{% static "js/moment.min.js" %}" /></script>
    <script src="{% static "js/moment-with-locales.min.js" %}" /></script>
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/bootstrap-datetimepicker.min.js" %}"></script>

    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>

<div class="wrap">
    <div class="wrapper">
        {% bootstrap_label "Карточка на прием к врачу успешно создана" %}
        <br>
        <a href="/reception/new" class="btn btn-primary">Записаться на прием</a>
    </div>
</div>

</body>

</html>
