<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Запись на прием к врачу</title>

    {% load static %}
    <link rel="stylesheet" href="{% static "css/bootstrap-theme.min.css" %}"/>
    <link rel="stylesheet" href="{% static "css/bootstrap-datetimepicker.min.css" %}"/>
    <link rel="stylesheet" href="{% static "css/style.css" %}"/>

    <script src="{% static "js/moment.min.js" %}"></script>
    <script src="{% static "js/moment-with-locales.min.js" %}"></script>
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/bootstrap-datetimepicker.min.js" %}"></script>

    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {{ form.media }}
</head>
<body>
<div class="wrap">
    <div class="wrapper">
        <form action="" method="post" class="form-group">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" id="id_submit_btn" class="btn btn-primary">Записаться</button>
            {% endbuttons %}
        </form>
    </div>
</div>
<script src="{% static "js/new-reception.js" %}"></script>
</body>
</html>
